/* Change colors in this file to style to your needs on a global level */

/* ===============================
   CSS Variables (Global Colors)
   =============================== */

:root {

  /* button colors */
  --buttonColor: #178582;
  --buttonHover: #178582;
  --topButtonHover: #178582;

  /* text colors light theme */
  --titleColor: #BFA181;
  --textColor: #BFA181;
  --subTitle: #BFA181;
  --cardSubtitle: #BFA181;
  --talkCardSubTitle: #BFA181;
  --blogCardTitleColor: #BFA181;
  --navcolor: #178582;

  /* text color dark theme */
  --textColorDark: #BFA181;

  /* toggle switch colors */
  --toggleCheck: #2196f3;
  --toggleSwitchSliderBG: #ccc;

  /* githubRepo specific colors */
  --githubRepoCardLanguageColorBG: #0000ff;
  --githubRepoCardColor: rgb(88, 96, 105);
  --githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
  --githubRepoCardRepoNameColor: rgb(36, 41, 46);
  --githubProfileCardLocationTS: #ffebcd;
  --githubProfileCardBorder: #6c63ff;

  /* light background colors */
  --lightBackground1: #0A1828;
  --lightBackground2: #0A1828;
  --lightBackground3: #0A1828;
  --blogCardContainerColor: #586069;

  /* dark background colors */
  --darkBackground: #0A1828;

  /* light theme box shadows */
  --lightBoxShadowDark: rgba(0, 0, 0, 0.2);
  --lightBoxShadow: rgba(0, 0, 0, 0.1);
  --lightBoxShadowDarker: rgba(0, 0, 0, 0.3);

  /* dark theme box shadows */
  --darkBoxShadow: #d9dbdf;
  --darkBoxShadow2: #178582;

  /* linear gradients */
  --experienceCardBlurredDivLG: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2)
  );

  --experienceCardBannerLG: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)
  );

  /* borders */
  --progressBarBackground: rgb(243, 239, 239);
  --lightBorder1: rgba(211, 211, 211, 0.397);
  --educationCardBorder: #a9a7f9;

  /* hovers */
  --achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2);
  --blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
  --headerHoverBG: #f4f4f4;
  --contactDetailHoverTS: #b5b5b5;

  /* misc backgrounds */
  --progressBarSpanBG: #aaa5ff;
  --iconBackground: #333;
  --appHeaderBG: #282c34;

  /* misc colors */
  --skillsColor: #645beb;
  --appLink: #09d3ac;

  /* social media icons */
  --faceBook: #3b5998;
  --linkedin: #0e76a8;
  --github: #333;
  --gitlab: #fca326;
  --google: #ea4335;
  --twitter: #1da1f2;
  --medium: #000;
  --stackoverflow: #f48024;
  --instagram: #c13584;
  --kaggle: #20beff;
}
